<form class="example-form">
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput matNativeControl="number" placeholder="amount" value="1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Currency</mat-label>
    <mat-select>
      @for (curr of currencies(); track curr[0]) {
      <mat-option [value]="curr[0]">{{ curr[0] }} - {{ curr[1] }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Currency</mat-label>
    <mat-select>
      @for (curr of currencies(); track curr[0]) {
      <mat-option [value]="curr[0]">{{ curr[0] }} - {{ curr[1] }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

</form>
